[submodule "concelhodiario"]
	path = concelhodiario
	url = https://github.com/tquintas/concelhodiario.git
[submodule "automovle"]
	path = automovle
	url = https://github.com/tquintas/automovle.git
[submodule "tese_test"]
	path = tese_test
	url = https://github.com/tquintas/tese_test.git
